body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #d9534f;
    margin-bottom: 20px;
    font-size: 2em;
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}

#manikamatan {
    background-color: #f44336;
}

#manikamatan:hover {
    background-color: #e53935;
}
